services:
  db:
    image: mysql:8.0
    container_name: rently-mysql
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: .
    container_name: rently-backend
    depends_on:
      - db
    restart: always
    env_file:
      - .env
    ports:
      - "4000:4000"
    volumes:
      - ./src/main/resources/static:/app/static

volumes:
  db_data:

